/config-service/.idea/
/config-service/target/
/config-service/config-service.iml
/discovery-service/.idea/
/discovery-service/target/
/discovery-service/discovery-service.iml
/edge-service/target/
/edge-service/edge-service.iml
/target/data/
/springnative-backend-reactservice/.idea/
/springnative-backend-reactservice/springnative-backend-reactservice.iml
/springnative-backend-restservice/.idea/
/springnative-backend-restservice/target/
/springnative-backend-restservice/springnative-backend-restservice.iml
/.idea/
/springnative-backend-reactservice/target/
/config-eureka-service/.idea/
/config-eureka-service/target/
/discovery-eureka-service/.idea/
/discovery-eureka-service/target/
/edge-eureka-service/target/
/springnative-backend-eureka-reactservice/.idea/
/springnative-backend-eureka-reactservice/target/
/springnative-backend-eureka-restservice/.idea/
/springnative-backend-eureka-restservice/target/
/springnative-backend-function/target/
/springnative-eureka-function/target/
/springnative-eureka-reactservice/.idea/
/springnative-eureka-reactservice/target/
/springnative-eureka-restservice/.idea/
/springnative-eureka-restservice/target/
